
body {
    background: url("../images/purty_wood.png");
    margin: 0; 

}
header {
	font-size: 45px; 
	color: aliceblue;
	background-color: black;
	border: 2px  white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;

}
.rules {
	color: black;
	background-color: aliceblue;
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	margin-top: 30px;
	

}
.crystals {
	max-width:700px;
	margin:0 auto;
	margin-top: 90px;
	
}
img {
	max-width: 150px;
	max-height: 200px;
	margin: 10px;
	
}