
body {
    background: url("../images/purty_wood.png");
    margin: 0; 

}
header {
	font-size: 45px; 
	color: aliceblue;
	background-color: black;
	border: 2px  white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;

}
.rules {
	color: black;
	background-color:white;
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	/* margin-top: 15px; */
	border: 2px solid black;
	border-top: 0px;
	text-align: center;
	padding: 15px;
	

}
.crystals {
	max-width:700px;
	margin:0 auto;
	background-color: white;
	display: inline-block;
	
	
}
img {
	max-width: 150px;
	max-height: 200px;
	margin: 10px;
	
}
button {
	background-color: black;
	color: aliceblue;
	padding: 20px;
	margin: 10px auto;
	text-align: center;
	display: block;
	/* display: none; */
	
}
.black {
	margin: 0;
	padding: 0;
	display: inline-block;
	border: 2px solid black;
	padding: 4px;
}
.marg-right {
	margin-right: 10px;
}
.random_number {
	background-color: black;
	color: white;
	padding: 10px;
	display: inline-block;
	margin: 0;
	border: 2px solid rgb(212, 205, 205);
}